## Tools available:

{% include 'components/tools/response.j2' %}

{% include 'components/tools/call_subordinate.j2' %}

{% include 'components/tools/behavior_adjustment.j2' %}

{% include 'components/tools/search_engine.j2' %}

{% include 'components/tools/memory_management.j2' %}

{% include 'components/tools/code_execution.j2' %}

{% include 'components/tools/input.j2' %}

{% include 'components/tools/browser_agent.j2' %}

{% include 'components/tools/scheduler.j2' %}

{% include 'components/tools/document_query.j2' %} 